@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");

:root {
  --ui-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  fill: rgba(0, 0, 0, 0.54);
  --ui-shadow-border: 1px solid rgba(0, 0, 0, 0.14);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;

  padding: 0;
  margin: 0;

  color: #2a3747;
}

h1 {
  font-size: 40px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

#root {
  display: flex;
  flex-direction: column;
}

.View {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  height: 100%;
  width: 100%;

  padding: 20px;

  background-size: cover;

  font-family: "Merriweather Sans", sans-serif;
}

.Banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 100%;

  border-radius: 5px;

  overflow: hidden;
  background: white;
  padding: 15px;

  font-family: "Share Tech Mono", monospace;
  font-size: 40px;

  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
}

.Message {
  background: white;
  height: 150px;
  width: 550px;
  margin: 0 auto;
  padding: 30px;
  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
  text-align: center;
}

.Message > .Title {
  padding-bottom: 20px;
  font-size: 30px;
}

.Message > .Details {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}

.NavButtons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.NavButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 150px;
  margin: 20px 20px;
  background: #fa4141;

  border-radius: 30px;

  font-size: 16px;
  font-weight: bold;
  color: white;

  text-transform: capitalize;

  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
}

.WelcomeView {
    background: url("./static/med3.png") left bottom;
    background-size:cover;
}

.Register {
  padding-top: 20px;
  height:max-content;
  text-align: center;
  background-color: white;
  width:300px;
  border: 0.30rem solid #2a3747;
  border-radius: 9px;
  margin:auto;
}

.RegisterText {
  font-size: 32px;
  margin: 20px auto;
}

.form-control {
  background-color: #f8f9fa;
  padding: 15px 15px;
  margin-bottom: 1.3rem;
  border-radius: 6px;
}

.form-control:focus {
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #000000;
  outline: 0;
  box-shadow: none;
}

.RegisterButton{
  padding: 0.5rem 1.0rem;
  color:white;
  background: #2a3747;
  border: 2px solid #2a3747;
  border-radius: 6px;
  margin-bottom: 30px;
}

.Dashboard {
  font-size: 30px;
  color: white;
  border: 10px solid red;
  border-radius: 10px;
}

.EditButton {
  height: fit-content;
  width: 40px;
  background-color: white;
  text-align: center;
  border-radius: 6px;
}

.SaveEdit {
  height: 30px;
  width: fit-content;
  border-radius: 6px;
  background-color: white;
  position: relative;
  margin: auto;
}

.ShowData {
  margin: 25px 0;
}